.nishad{
    background: url('/images/Rangamati4.jpg');
    background-size: cover;
    height: 900px;
    width: 1400px;

}
.sss{
   
    font-size: 50px;
    padding-top: 250px;
    text-align: center;
}


